.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 4vmin;
    color: #fff;
    font-family: 'Arial', sans-serif;
    gap: 2vmin;
    align-items: center;
}

.new-game-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1vmin;
    align-items: center;
    font-size: 4vmin;
}

.game-table {
    width: 100vmin;
    border-collapse: separate;
    border-spacing: 0 1vmin;
}

thead th {
    color: #fff;
    text-align: left;
    padding: 10px;
}

tbody td {
    background-color: #1a1a2e;
    border-radius: 2vmin;
    padding: 2vmin;
    vertical-align: middle;
    height: 10vmin;
    width: 130vmin;
}

.game-details h2 {
    font-size: 18px;
    margin: 0;
}

.game-details p {
    font-size: 14px;
    margin: 2px 0;
    color: #c2c2c2;
}

.game-actions button {
    background-color: #0e0e1a;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.game-actions button:hover {
    background-color: #1f4068;
}

.button {
    width: 40vmin;
    height: 4vmin;
    margin-bottom: 1vmin;
    font-size: 1.5vmin;
}
