.player-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 21vmin;
    height: 25vmin;
    background: linear-gradient(to bottom, #2a6edb, #1a4a99);
    border-radius: 0.8vmin;
    padding: 1vmin;
    text-align: center;
    color: white;
    box-shadow:
        0 0 0 0.5vmin #0066cc,
        0 0 0 1vmin #0099ff,
        0 0 0 1vmin #33afff;
    overflow: hidden;
}

.highlight-player {
    box-shadow:
        0 0 0 0.5vmin #f6ff00,
        0 0 0 1vmin #faff66,
        0 0 0 1vmin #faff68;
}

.player-icon {
    position: absolute;
    height: 4vmin;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40%;
    pointer-events: none;
    object-fit: cover;
}

.bot-aggressive {
    height: 3vmin;
    background-color: rgba(255, 0, 0);
    padding: 0.5vmin;
}

.bot-defensive {
    height: 3vmin;
    background-color: rgba(0, 0, 255);
    padding: 0.5vmin;
}

.player-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
}

.avatar-name {
    background: rgba(0, 0, 0, 0.6);
    margin-top: 3vmin;
    padding: 0.2vmin 0.5vmin;
    border-radius: 0.5vmin;
    font-size: 1.5vmin;
    font-weight: bold;
    margin-bottom: -3vmin;
    z-index: 2;
}

.avatar {
    height: 23vmin;
    margin-top: 1vmin;
    object-fit: contain;
}

.player-name {
    position: absolute;
    bottom: -5%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 0.5vmin 1vmin;
    font-size: 1.7vmin;
    font-weight: bold;
    text-align: center;
    z-index: 3;
    width: 80%;
    border-radius: 0.5vmin;
}

.player-actions {
    position: absolute;
    top: 0.5vmin;
    right: 0.5vmin;
    display: flex;
    flex-direction: column;
}

.player-actions button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 9999;
}

.player-actions button img {
    height: 2.4vmin;
}

.player-actions button:hover {
    transform: scale(1.1);
}

.player-actions button:active {
    transform: scale(1);
}

.confirmation-prompt {
    position: absolute;
    width: 19vmin;
    top: 2vmin;
    right: 0;
    margin-left: 1vmin;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1vmin;
    border-radius: 0.5vmin;
    box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-prompt-buttons {
    display: flex;
    flex-direction: row;
}

.confirmation-prompt button {
    margin-top: 0.5vmin;
    background-color: #ff5f5f;
    border: none;
    padding: 0.5vmin;
    color: white;
    border-radius: 0.3vmin;
    margin-right: 0.5vmin;
    width: 100%;
}

.confirmation-prompt button:hover {
    background-color: #ff3f3f;
}

.game-text {
    font-size: 1.5vmin;
}
