.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    justify-self: center;
    justify-content: center;
    display: grid;
    justify-items: center;
    z-index: 1000;
    width: 97vmin;
    height: 100vmin;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3vmin;
    color: white;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4vmin;
}

.popup-container {
    background: #555;
    padding: 3vmin;
    border-radius: 2vmin;
    text-align: center;
    width: 50vmin;
    max-width: 90vmin;
    box-shadow: 1vmin 1vmin 2vmin rgba(0, 0, 0, 0.3);
}

.inventory-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    margin-bottom: 4vmin;
}

.inventory-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
    background: #f0f0f0;
    padding: 2vmin;
    border-radius: 1vmin;
    width: 12vmin;
    height: 14vmin;
    box-shadow: 0.5vmin 0.5vmin 1vmin rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.item-icon {
    width: 8vmin;
    height: 8vmin;
    object-fit: contain;
}

.red-x {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 5vmin;
    background: rgba(132, 130, 130, 0.5);
    border-radius: 1vmin;
    z-index: 10;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 1.5vmin 3vmin;
    font-size: 4vmin;
    border: none;
    border-radius: 1vmin;
    cursor: pointer;
    background-color: #ffcc00;
    color: white;
    transition: background-color 0.3s;

    &:hover {
        background-color: #ffaa00;
    }

    &:disabled {
        background: #555;
        cursor: not-allowed;
    }
}
