# The Docker image that will be used to build your app
image: registry.gitlab.com/nikolayradoev/docker-images/chrome-mongo-node:20251

cache:
    key: '${CI_COMMIT_REF_SLUG}-client'
    paths:
        - client/node_modules/
        - server/node_modules/
    policy: pull

.only-client: &only-client
    only:
        refs:
            - main
            - merge_requests
        changes:
            - client/**/*
            - common/**/*
    cache:
        key: '${CI_COMMIT_REF_SLUG}-client'
        paths:
            - client/node_modules/
        policy: pull

.only-server: &only-server
    only:
        refs:
            - main
            - merge_requests
        changes:
            - server/**/*
            - common/**/*
    cache:
        key: '${CI_COMMIT_REF_SLUG}-server'
        paths:
            - server/node_modules/
        policy: pull

stages:
    - install
    - lint
    - test
    - deploy

install:client:
    stage: install
    <<: *only-client
    script:
        - cd client
        - npm ci --cache .npm --prefer-offline
    cache:
        key: '${CI_COMMIT_REF_SLUG}-client'
        paths:
            - client/node_modules/
            - client/.npm/
        policy: pull-push

install:server:
    stage: install
    <<: *only-server
    script:
        - cd server
        - npm ci --cache .npm --prefer-offline
    cache:
        key: '${CI_COMMIT_REF_SLUG}-server'
        paths:
            - server/node_modules/
            - server/.npm/
        policy: pull-push

lint:client:
    stage: lint
    needs: ['install:client']
    allow_failure: true
    <<: *only-client
    script:
        - cd client
        - npm run lint

lint:server:
    stage: lint
    needs: ['install:server']
    allow_failure: true
    <<: *only-server
    script:
        - cd server
        - npm run lint

test:client:
    stage: test
    needs: ['install:client']
    <<: *only-client
    script:
        - Xvfb :99 -ac -screen 0 1920x1080x24 &
        - cd client
        - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
    dependencies:
        - install:client
    artifacts:
        paths:
            - client/coverage/

test:server:
    stage: test
    needs: ['install:server']
    <<: *only-server
    script:
        - cd server
        - npm run coverage
    dependencies:
        - install:server
    artifacts:
        paths:
            - server/coverage/

pages:
    stage: deploy
    rules:
        - if: '$CI_COMMIT_TAG =~ /deploy/'
          when: manual
    script:
        - cd client
        - npm ci --cache .npm --prefer-offline
        - npm run deploy -- --base-href $BASE_HREF
        - mkdir ../public
        - mv dist/client/* ../public/
    artifacts:
        paths:
            - public

variables:
    EC2_USER: ubuntu
    ORIGIN: 'https://gitlab-ci-token:${CI_JOB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}'

deploy:server:
    stage: deploy
    rules:
        - if: '$CI_COMMIT_BRANCH == "dev" || $CI_COMMIT_BRANCH == "main"'
    script:
        - 'which ssh-agent || (apt-get update -qq && apt-get install -qq openssh-client )'
        - eval $(ssh-agent -s)
        - ssh-add <(echo "$EC2_PEM_FILE_CONTENT")
        - mkdir -p ~/.ssh
        - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
        - |
            timeout 600 ssh -t -oStrictHostKeyChecking=no -o ServerAliveInterval=15 -o ServerAliveCountMax=5 "${EC2_USER}@${EC2_HOST}" "
                set -e

                # Export GitLab variables for use in SSH session
                export DATABASE_CONNECTION_STRING='${DATABASE_CONNECTION_STRING}'
                export SERVER_PORT='${SERVER_PORT}'

                echo 'Update repository cache'
                sudo apt-get update -y

                echo 'Setting up git'
                if which git &> /dev/null
                then
                    echo 'git is already installed, skipping...'
                else
                    sudo apt-get install -y git
                fi

                echo 'Setting up node'
                if which node &> /dev/null
                then
                    echo 'node is already installed, skipping...'
                else
                    curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
                    sudo apt-get install -y nodejs
                fi

                echo 'Setting up PM2'
                if which pm2 &> /dev/null
                then
                    echo 'PM2 is already installed, skipping...'
                else
                    sudo npm install -g pm2
                fi

                set -xv

                # Stop any running server
                pm2 stop all || true
                pm2 delete all || true

                # Clone the repository
                rm -rf repo
                git clone ${ORIGIN} repo
                cd repo

                # Checkout to the targeted commit
                git fetch --all
                git checkout ${CI_COMMIT_SHA}

                # Build the project
                cd server
                npm ci
                npm run build

                # Create .env file
                echo DATABASE_CONNECTION_STRING=\$DATABASE_CONNECTION_STRING > .env
                echo PORT=\$SERVER_PORT >> .env

                # Launch the server with PM2
                pm2 delete log3900-server || true
                pm2 start out/server/app/index.js --name log3900-server --update-env
                pm2 save
            "
