.stats-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vmin;
    width: 47.4vmin;
    background-color: rgb(155, 144, 69);
    height: 22vmin;
    border-radius: 1.5vmin;
}

.bar-square {
    width: 3.5vmin;
    height: 3.5vmin;
    border: 0.3vmin solid #fff;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 1vmin;
}

.stats-row {
    display: flex;
    align-items: center;
    height: 5vmin;
    width: 100%;
    max-width: 48vmin;
    gap: 1.5vmin;
}

.stats-bar {
    display: flex;
    align-items: center;
    gap: 1vmin;
    justify-content: center;
}

.info-icon {
    width: 4vmin;
    height: 4vmin;
    margin-right: 1vmin;
}

.bar-container {
    margin-left: 1.5vmin;
    display: flex;
    gap: 0.5vmin;
    align-items: center;
    cursor: pointer;
    animation: pulse-glow 1.5s infinite;
}

.dice-container {
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dice {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.stat-label {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5vmin;
    color: white;
    font-weight: bold;
    width: 10vmin;
    text-align: right;
    margin-right: 1.5vmin;
    display: flex;
    align-items: center;
    gap: 1vmin;
    white-space: nowrap;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip {
    font-family: 'Press Start 2P', sans-serif;
    position: absolute;
    left: 50%;
    bottom: -2vmin;
    transform: translateX(-50%);
    background: rgba(139, 69, 19, 0.8);
    color: white;
    font-size: 1.2vmin;
    padding: 0.8vmin 1vmin;
    border-radius: 0.8vmin;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.2s,
        visibility 0.2s;
}

.icon-wrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.game-text {
    font-size: 1.5vmin;
    margin: 0;
}

.filled-life {
    background: green;
}
.filled-speed {
    background: orange;
}
.filled-attack {
    background: red;
}
.filled-defense {
    background: blue;
}
.empty {
    background: #444;
}

@keyframes pulse-glow {
    0% {
        box-shadow:
            0 0 0.5vmin rgb(112, 2, 2),
            inset 0 0 0.5vmin rgb(112, 2, 2);
    }
    20% {
        box-shadow:
            0 0 1.5vmin rgb(112, 2, 2),
            inset 0 0 1.5vmin rgb(112, 2, 2);
    }
    50% {
        box-shadow:
            0 0 0.5vmin rgb(112, 2, 2),
            inset 0 0 0.5vmin rgb(112, 2, 2);
    }
}
.bar-container.clicked {
    animation: none;
    border: none;
}
