html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.game-creation-page {
    display: flex;
    flex-direction: column;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.cards-section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 400vmin;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2vmin solid #ccc;
    border-radius: 2vmin;
    box-shadow: 0 1vmin 2vmin rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 100vmin;
    height: 100vmin;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    max-width: 100%;
    max-height: 60vmin;
    object-fit: cover;
    border-radius: 1vmin;
    margin-bottom: 2vmin;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2vmin;
    text-align: center;
}

.card-description {
    font-size: 1rem;
    color: #666;
    text-align: center;
}

.no-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: #000116;
    justify-self: center;
}

.no-games h2,
.no-games p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1vmin 1.5vmin;
    border-radius: 1vmin;
    margin: 1vmin 0;
    font-family: 'Press Start 2P', sans-serif;
}

@media (max-width: 1024px) {
    .cards-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards-section {
        grid-template-columns: 1fr;
    }
}
