<div class="container justified">
    <img src="assets/logo.png" alt="Logo PolyArena" class="logo" draggable="false" />
    <div class="justified">
        <button class="mainPageButton button" routerLink="/join">Joindre une partie</button>
        <button class="mainPageButton button" routerLink="/game-creation">Créer une partie</button>
        <button class="mainPageButton button" routerLink="/admin">Administrer les jeux</button>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 306</h4>
        <p class="team-name">
            <span>Brière Simon</span>, <span>Champagne Nicolas</span>, <span>Guevremont Lucas</span>, <span>Popovic Victor</span>,
            <span>Spencer Maxime</span>, <span>Thabet Olivier</span>
        </p>
    </footer>
</div>

<app-profile-menu></app-profile-menu>
