.tool-container {
    right: 0;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
    margin-top: 3pt;
    margin-bottom: 5pt;
    border: 2pt solid black;
    padding: 4pt;
    background-color: #404040;
    border-radius: 5pt;
    min-height: min-content;
    height: auto;
    width: 80%;
}

.item-row {
    display: flex;
    justify-content: center;
    gap: 8pt;
    width: 100%;
}

.item-icon {
    position: relative;
    border: 2pt solid black;
    border-radius: 5pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4pt;
    background-color: #404040;
    color: #111970;
    transition:
        transform 0.2s,
        background-color 0.2s;
    width: 40%;
    img {
        z-index: 2;
        cursor: grab;
        max-width: 80%;
        max-height: 80%;
        filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
    }
}

.item-icon:hover {
    transform: scale(1.03);
}

.label {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 8pt;
    margin-bottom: 1pt;
    font-size: 7pt;
    font-weight: normal;
}

.count {
    display: block !important;
    color: white !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 1.5vmin !important;
    font-size: 1.5vmin !important;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0) !important;
}
