.logs {
    font-family: 'Press Start 2P', sans-serif;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.5vmin;
    border-radius: 1vmin;
    width: 40vmin;
    height: 20vmin;
    background-color: #000000;
    padding: 1vmin;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}

.logButton {
    margin-top: 1vmin;
    width: 14vmin;
    text-align: center;
    background-color: white;
    border: 0.5vmin solid #0056b3;
    border-radius: 1.5vmin;
    padding: 3vmin;
    font-family: 'Press Start 2P', sans-serif;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
    opacity: 0.5;
    cursor: pointer;
}

.buttons {
    align-items: start;
    display: flex;
}

.myLogs {
    align-self: center;
    width: 14vmin;
    height: 4vmin;
    border-radius: 1vmin;
    text-align: center;
    background-color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5vmin;
    opacity: 0.5;
    transition-duration: 0.3s;
    cursor: pointer;
}

.myLogs.active {
    opacity: 1;
    cursor: pointer;
}

.logButton.active {
    transform: scale(1.05);
    opacity: 1;
    pointer-events: none;
}

.logs-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100% - 5vmin);
    padding-right: 1vmin;
    scroll-behavior: smooth;
}

.log {
    color: white;
    margin-bottom: 1vmin;
    padding: 0.5vmin;
    background-color: #333;
    border-radius: 0.5vmin;
    font-size: 1vmin;
    word-wrap: break-word;
}
