@if (isDefined) {
<div class="test">
    <div class="button-container">
        <button class="button reset" (click)="resetGrid()">Réinitialiser la grille</button>
        <button class="button enter" (click)="saveGrid()">Enregistrer et finir</button>
    </div>
    <div class="grid" [style.gridTemplateColumns]="'repeat(' + getSize() + ', ' + getTileSize() + ')'">
        @for (row of grid; track rowIndex; let rowIndex = $index) {
        <div class="row">
            @for (tile of row; track colIndex; let colIndex = $index) {
            <div
                class="tile"
                [ngStyle]="{ width: getTileSize(), height: getTileSize() }"
                [attr.data-row]="rowIndex"
                [attr.data-col]="colIndex"
                [class]="tile"
            >
                <img
                    [id]="getTileContent({ row: rowIndex, col: colIndex })"
                    class="tile-image"
                    alt=""
                    (dragover)="allowDrop($event)"
                    (mouseup)="onMouseUp($event, { row: rowIndex, col: colIndex })"
                    (mousedown)="onMouseDown($event, { row: rowIndex, col: colIndex })"
                    (drop)="onDrop($event)"
                    [src]="getImage({ row: rowIndex, col: colIndex })"
                    draggable="false"
                />
                @if (getItem({ row: rowIndex, col: colIndex})) {
                <img
                    [ngSrc]="getItemImage({ row: rowIndex, col: colIndex })"
                    [alt]="getItemImage({ row: rowIndex, col: colIndex })"
                    class="item-icon"
                    draggable="true"
                    (dragstart)="
                        onDragStart({
                            event: $event,
                            coords: { row: rowIndex, col: colIndex },
                            item: getId({ row: rowIndex, col: colIndex }),
                            description: getItemDescription({ row: rowIndex, col: colIndex })
                        })
                    "
                    (mouseup)="onMouseUp($event, { row: rowIndex, col: colIndex })"
                    (mousedown)="onMouseDown($event, { row: rowIndex, col: colIndex })"
                    [id]="getId({ row: rowIndex, col: colIndex })"
                    height="32"
                    width="32"
                    [matTooltip]="getItemDescription({ row: rowIndex, col: colIndex })"
                    matTooltipClass="custom-tooltip"
                    [style.cursor]="getCursorStyle()"
                    [matTooltipDisabled]="getIsTooltipVisible()"
                />
                }
            </div>
            }
        </div>
        }
    </div>
</div>
}
