@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vmin;
    height: 9vmin;
    background: #3a3a3a;
    border: 0.8vmin solid #ffd700;
    border-radius: 50%;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    text-shadow: 0.3vmin 0.3vmin 0px #000;
    font-size: 3.5vmin;
    user-select: none;
}

.low-time {
    color: red;
}
