.tool-container {
    left: 0;
}

.tile-container {
    display: flex;
    gap: 4vmin;
    align-items: center;
    margin-top: 1vmin;
    border: 0.4vmin solid black;
    padding: 0.4vmin;
    box-sizing: border-box;
    background-color: #404040;
    border-radius: 2vmin;
    width: 12vmin;
    height: 12vmin;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10pt;
}

.tile-icon {
    cursor: pointer;
    border: 0.2vmin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    transition:
        transform 0.2s,
        background-color 0.2s;
    border-radius: 1vmin;
    width: 90%;
    height: 90%;
}

.tile-name {
    font-family: 'Press Start 2P', sans-serif;
}

.selected-border {
    border: 1pt solid #ff9500;
    box-shadow: 0 0 10pt 4pt rgba(255, 149, 0, 0.5);
    background-color: #fff3e0;
    transform: scale(1.3);
}

.preload {
    z-index: -1;
    height: 1pt;
    width: 1pt;
    left: 0;
    top: 0;
}

.tile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vmin;
}
