<div class="tool-container">
    <div class="title-container">
        <p class="game-text bar-title">Outil à Tuile</p>
    </div>
    @for (tile of tiles; track tile) {
    <ng-container>
        <label class="game-text label">{{ tile }}</label>
        <div class="tile-container">
            <div
                class="tile-icon"
                [ngClass]="{ 'selected-border': currentTileDescription === tile }"
                (click)="onClick(tile)"
                [matTooltip]="tileDescriptions.get(tile)"
                matTooltipClass="custom-tooltip"
                matTooltipPosition="right"
                type="button"
            >
                <img draggable="false" [src]="getTileImage(tile)" class="tile-image" alt="" />
            </div>
        </div>
    </ng-container>
    }
</div>
@for (tile of preloadTiles; track tile) {
<div class="preload">
    <img draggable="false" [src]="getTileImage(tile)" [alt]="tile" class="tile-image" height="1" width="1" />
</div>
}
