.popup-content {
    background-color: #000000 !important;
    color: #ffa500 !important;
    font-family: 'Press Start 2P', sans-serif !important;
    font-size: 1vmin !important;
    box-shadow: none !important;
    position: relative !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    white-space: pre-wrap;
    width: 15vmin !important;
    line-height: 1.2;
}

.button {
    font-size: 1vmin !important;
    height: 1vmin;
    width: 10vmin;
    justify-self: center !important;
    justify-content: center !important;
}
